.container {
  position: fixed;
  top: 0;
  min-height: 100vh;
  width: 100vw;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-inline: 2rem;
  z-index: 10;
  background-color: rgb(15, 8, 44);
  clip-path: circle(100% at 0, 0);
  transition: clip-path 0.3s ease;
}

.welcome_text {
  font-size: 3.8rem;
  text-transform: uppercase;
  color: var(--primary-color);
  letter-spacing: 0.5rem;
  font-weight: 700;
}

.color_text {
  font-size: 5rem;
  color: var(--accent);
}

.tagline {
  font-size: 1.4rem;
  color: var(--secondary-color);
  letter-spacing: 0.5rem;
}

.welcome_text,
.tagline {
  overflow-y: hidden;
}

.welcome_text > span,
.tagline > span {
  display: inline-block;
  transform: translateY(100%);
  opacity: 0;
}

.hide {
  clip-path: circle(0);
}
