.container {
  position: fixed;
  top: 0;
  min-height: 100vh;
  width: 100vw;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-inline: 2rem;
  z-index: 10;
  background-color: rgb(15, 8, 44);
  clip-path: circle(100%);
  transition: all 1.5s ease;
}

.welcome_text {
  font-size: 3.8rem;
  text-transform: uppercase;
  color: var(--primary-color);
  letter-spacing: 0.5rem;
  font-weight: 700;
}

.color_text {
  font-size: 5rem;
  color: var(--accent);
}

.tagline {
  font-size: 1.4rem;
  color: var(--secondary-color);
  letter-spacing: 0.5rem;
}

.welcome_text,
.tagline {
  overflow-y: hidden;
}

.welcome_text > span,
.tagline > span,
.loading {
  display: inline-block;
  transform: translateY(100%);
  opacity: 0;
}

.loading {
  margin-top: 3rem;
  border: 0.3rem solid;
  border-left: 0.5rem solid var(--primary-color);
  border-right: 0.4rem solid var(--primary-color);
  padding: 1.5rem;
  border-radius: 50%;
  animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hide {
  clip-path: circle(0% at 0% 0%);
  transition: all 1.5s ease;
}
